---
title:  ""
layout: single
author_profile: true
comments: true
header:
  overlay_image: /images/banner.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
---

I am a cognitive and computational neuroscientist interested in somatosensory perception and the dynamics of neural circuits. 
Check out my current projects here: [My Projects]({% /Projects %})
<!--- 
{% for post in site.posts limit:3 %}
  {% include archive-single.html %}
{% endfor %}
header:
  overlay_image: /images/bridge.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
-->