---
title:  ""
layout: single
author_profile: true
comments: true
header:
  overlay_image: /images/banner.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
---
I am a PhD student working in the Brain Networks research group and the Neurology Department of the Max-Planck Institute for Human Brain and Cognitive Sciences in Leipzig, Germany.
In my PhD project I am applying biophysical modelling of neural microcircuits representing the somatosensory cortex to data from EEG measurments. My goal is to disentangle the neural correlates and dynamics of consciously perceiving somatosensory stimuli.



<!--- 
{% for post in site.posts limit:3 %}
  {% include archive-single.html %}
{% endfor %}
header:
  overlay_image: /images/bridge.jpg
  overlay_filter: 0.5 # same as adding an opacity of 0.5 to a black background
-->